/*
Theme Name: GPT3
Description: The first theme for GPT3 responder
Version: 0.1
Author: Paoloart
Template: 42 is the answer to everything

*/
.header{
    margin: 0 !important;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    padding: 10px;
    height: auto!important;
   
}

body {
    background-color: white;
    font-family: helvetica, sans-serif;
    color:#202123;
    margin: 0!important;
  }

.main_container {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  
  h1 h2{
    color: #202123;
    font-weight: 700;
  }

.header {
    background-color: #10a37f;
    color: white;
    height: 50px;
}


.prova{
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color: var(--gray-300);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 36px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    height: 36px;
    outline: 0px !important;
}

.save{
    align-items: center;
    justify-content: space-around;
    margin: 0 10px 0 24px;
    max-width: 700px;
    font-size: 14px;
    background-color: white;
    color:#10a37f;
    padding: 10px 0;
    border-width: 0px;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    outline: 0px !important;
    cursor: pointer;
}
.textarea{
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color:#c5c5d2;
    color:#1a1a1a;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 32px;
    position: relative;
    box-sizing: border-box;
    width: 600px;
    height: 100px;
    outline: 0px !important;
    font-family: helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    cursor: text;
}
.apikeybutton{
    align-items: center;
    justify-content: space-around;
    margin: 0 10px 0 24px;
    max-width: 700px;
    font-size: 14px;
    background-color: white;
    color:#6e6e80;
    padding: 10px 0;
    border-width: 0px;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    outline: 0px !important;
    cursor: pointer;
}

.form {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color:#c5c5d2;
    color:#8e8ea0;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 32px;
    position: relative;
    box-sizing: border-box;
    height: 32px;
    outline: 0px !important;
    font-family: helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    cursor: text;
}

.button{
    border: none;
    padding: 5px;
    border-radius: 3px;
    background-color: #10a37f;
    font-size: 14px;
    line-height: 20px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 400;
    justify-content: center;
    line-height: 1.4;
    position: relative;
    transition: box-shadow .3s,background-color .3s,color .3s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button_del{
    border: none;
    padding: 5px;
    border-radius: 3px;
    background-color: red;
    font-size: 14px;
    line-height: 20px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 400;
    justify-content: center;
    line-height: 1.4;
    position: relative;
    transition: box-shadow .3s,background-color .3s,color .3s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}